$primaryColor: #5e81f4;
$primaryHoverColor: #475eaa;
$lightInfoColor: #5e81f419;
$backgrounfPrimaryColor: #f6f6f6;
$secondariTextColor: #8181a5;
$white: #fff;
$primaryText: #1c1d21;
$outline: #ececf2;